<template>
  <header>
    <div class="wrapper">
        <h1>Tutorful Test App</h1>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
    }
  }
}
</script>
<style></style>
