<template>
  <div class="home">
    <div class="wrapper">
      <p class="sort">Sort by:</p>
      <ul class="filters">
        <li><a href="">Alphabetical</a></li>
        <li><a href="">Release Year</a></li>
        <li><a href="">RT Score</a></li>
        <li><a href="">Descending</a></li>
        <li><a href="">Ascending</a></li>
      </ul>
      <div class="movie" v-for="movie in movies" :key="movie.id">
        <div class="movie_header">
          <h2 class="title"><a v-bind:href="movie.id" :id="movie.index">{{ movie.title }}</a></h2>
          <div class="score">
            <p>Score: {{ movie.rt_score }}</p>
            <p>Released: {{ movie.release_date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import movies from '../data.json'

export default {
  props: ['id'],
  name: 'Home',
  data () {
    return {
      movies: movies
    }
  }
}
</script>
<style></style>
