<template>
  <div class="home">
    <div class="wrapper">
      <div class="back-btn"><router-link to="/">back</router-link></div>
      <div class="movie" >
        {{ movieID }}
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
// import all movies from json file
import movies from '../data.json'

const selectedMovie = movies.find(id => {
  if (id.id) {
    console.log(id.title)
    return true
  }
  return false 
})

export default {
  props: ['id'],
  created() {
  	this.$root.movieID = this.id;
  },
  name: 'Home',
  data () {
    return {
      movie: movies,
      movieID: this.id
    }
  }
}
</script>
<style></style>
