<template>
  <div>
    <header-view/>
    <router-view/>
  </div>
</template>

<script>
// import global header
import HeaderView from './components/Header.vue'
export default {
  name: 'App',
  components: {
    HeaderView
  }
}
</script>

<style lang="scss">
  @import 'scss/main.scss'
</style>
