@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

$primary: #157f99;
$white: #ffffff;
$black: #333333;

body, html {
    margin: 0;
    padding: 0;
}


* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    
}

header {
   h1 {
       font-weight: 100;
       font-size: 40px;
       text-align: center;

       @include mq('tablet', max) {
           font-size: 30px;
       }
   }
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    
    @include mq('desktop', max) {
        width: 100%;
        padding: 0 15px;
    }
}

.sort {
    text-align: center;
}

.filters {
    padding: 0;
    margin: 10px 0 30px;
    text-align: center;

    li {
        display: inline-block;

        @include mq('phablet', max) {
            display: block;
            padding: 5px 0;
        }

        a {
            color: $primary;
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid $primary;
            border-radius: 5px;

            &:hover {
                background: $primary;
                color: $white;
            }

            @include mq('phablet', max) {
                width: 100%;
                display: block;
            }
        }
    }
}

.movie {
    margin: 10px 0;

    .movie_header {
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border: 1px solid $primary;

        &:hover {
            background: $primary;

            h2 {
                a {
                    color: $white;
                }
            }

            .score {
                color: $white;
            }
        }

        h2 {
            padding: 0;
            margin: 0;
            a {
                font-size: 28px;
                font-weight: 100;
                text-decoration: none;
                color: $primary;
                padding: 15px;
                display: block;

                @include mq('tablet', max) {
                    font-size: 22px;
                    padding: 5px;
                }
            }
        }

        .score {
            color: $primary;
            width: 25%;

            p {
                display: inline-block;
                padding-left: 15px;
            }

            @include mq('tablet', max) {
                width: 20%;
            }
        }
    }
}